<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= locals.title ? locals.title : 'Главная страница' %>
    </title>
</head>

<body>
    <header>
        <span>itProger</span>
        <div class="links">
            <a href="/">Главная</a>
            <a href="/user">Регистрация</a>
        </div>
    </header>