<%- include('blocks/header') -%>

    <main>
        <div>
            <h2>Вы успешно вышли</h2><br>
            <a href="/user" class="logout">На страницу регистрации</a>
        </div>
    </main>

    <%- include('blocks/footer') -%>